.bg{
    background-image: url("code.png");
    height:100vh;
    background-size: cover;
    margin-bottom: 50px;
}
.flex
{
    background-color: #00000080;
    border-color: #48ee59;
    border-width: 6px;
    color:white;
    margin:50px;
    padding:60px;
    border-style: solid;
    font-size: 35px;



}